@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --clr-blue: hsl(223, 87%, 63%);
  --clr-paleblue: hsl(223, 100%, 88%);
  --clr-lightred: hsl(354, 100%, 66%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-darkblue: hsl(209, 33%, 12%);
  --clr-grayblue: hsl(223, 59%, 83%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.hideMe {
  display: none;
}

/* ========== HEADER ========== */
/* ---------- HEADER ---------- */

header {
  margin: 81px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  max-width: 15vw;
  margin-bottom: 36px;
}

header h1 {
  font-size: 22px;
  color: var(--clr-gray);
  margin-bottom: 16px;
}

header strong {
  color: var(--clr-darkblue);
  font-weight: 800;
}

header p {
  color: var(--clr-darkblue);
  font-size: 12px;
}

/* ========== MAIN ========== */

main {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------- MAIN: FORM ----------*/

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

form input,
form input[type="submit"] {
  height: 40px;
  border-radius: 28px;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.form__inputfield {
  width: 100%;
}

form input {
  display: block;
  width: 100%;
  border: 1px solid var(--clr-paleblue);
  padding: 0px 32px;
}

form input:focus {
  color: black;
}

form input:hover {
  border: 2px solid var(--clr-blue);
}

form input::placeholder {
  color: var(--clr-grayblue);
}

form input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--clr-blue);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  box-shadow: 0px 5px 10px 2px hsla(233, 87, 63, 0.23);
  line-height: 1.65;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: hsl(223, 87%, 70%);
}

.validationmessage {
  position: relative;
  margin: 5px auto 10px auto;
  color: hsl(354, 100%, 66%);
  font-size: 10px;
  font-style: italic;
}

/* ---------- MAIN: IMAGE ----------*/

.main__image {
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}

/* ========== FOOTER ========== */

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 27px;
  gap: 12px;
}

.footer__icon {
  border-radius: 50%;
  border: 1px solid rgba(76, 123, 243, 0.15);
  width: 32px;
  height: 32px;
  color: var(--clr-blue);
  display: block;
  text-align: center;
  line-height: 2.2;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.footer__icon:hover {
  cursor: pointer;
  background-color: var(--clr-blue);
  color: hsl(0, 0%, 100%);
}

footer p {
  font-size: 10px;
  font-weight: 300;
  color: var(--clr-gray);
  text-align: center;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 800px) {
  header h1 {
    font-size: 48px;
  }

  header p {
    font-size: 20px;
  }

  main {
    max-width: 45vw;
  }

  form {
    flex-direction: row;
    text-align: left;
  }

  .validationmessage {
    padding-left: 32px;
  }

  form input[type="submit"] {
    margin-top: 0px;
    margin-left: 16px;
    width: 200px;
  }

  footer {
    font-size: 12px;
  }
}
